@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Poetsen+One&display=swap');

/*
font-family: "Poetsen One", sans-serif;
font-weight: 400;
font-style: normal; 
*/
/* 
font-family: "Jua", sans-serif;
font-weight: 400;
font-style: normal; 
*/

/* font */
/* Poetsen One_Eng */
@font-face {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/PoetsenOne-Regular.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

/* Jua_Kor */
@font-face {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Jua-Regular.ttf') format('truetype');
    unicode-range: U+AC00-D7A3;
}


/* design - basic */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/* /design - basic */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Poetsen One", "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-color: #272822;
    color: #fff;
}

/* header */
header {
    width: 100%;
    height: 200px;
    line-height: 200px;
    text-align: center;

    background-image: linear-gradient(to top, #272822, white);
    color: #fff;
}

header h1 {
    font-size: 50px;
}

/* /header */

/* main */
main {
    position: relative;

    width: 100%;
    height: 100vh;
}

/* regist main box */
main .regist_box {
    position: sticky;
    top: 10%;

    width: 300px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;

    background-color: rgb(0, 0, 0, 0.3);
    color: #fff;

    border-radius: 10px;
    box-shadow: 0 0 10px #000;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .regist_box .regist_box_title {
    text-align: center;

    width: 100%;
    height: 65px;
    padding: 0 10px;

    color: #fff;

    border: none;

    outline: none;
}

main .regist_box form{
    width: 100%;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

main .regist_box .regist_wrap {
    width: 100%;
    height: 400px;

    /* border-radius: 5px;
    box-shadow: 0 0 10px #000; */

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

main .regist_box .regist_wrap .regist_input {
    width: 95%;
    height: 25px;

    margin: 10px 0;

    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main .regist_box .regist_wrap .regist_input input {
    width: 100%;
    height: 25px;
    padding: 0 10px;

    font-size: 12px;

    background-color: #181818;
    color: #fff;

    border: none;
    outline: none;

    font-family: "Jua", sans-serif;
}

main .regist_box #regist_btn {
    width: 100%;
    height: 40px;

    background-color: #181818;
    color: #fff;

    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;

    cursor: pointer;

    font-family: "Jua", sans-serif;
    font-size: 16px;
}
main .regist_box #regist_btn:hover {
    background-color: #333;
}

/* /regist main box */
/* /main */